.button {
  border-radius: 0.3rem;
  margin-top: 0.6rem;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;

  border: 1px solid black;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: white;
  font-weight: 600;
}
.button__icon {
  color: black;
  border-left: 1px solid black;
}

.button .button__icon {
  position: absolute;
  /* transform: translateX(116px); */
  transform: translateX(110px);
  height: 100%;
  width: 39px;
  background-color: #4f58fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  /* background: #4f58fd; */
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  border-left: none;
  /* width: 148px;
  transform: translateX(0); */
  width: 200px;

  transform: translateX(-26px);
}

.button:active .button__icon {
  background-color: #4f58fd;
}

.button:active {
  border: 1px solid #4f58fd;
}
