@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  --BGCcolor: #76abae;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100svh;
  display: flex;
  background-color: #eeeeee;
  flex-direction: column;
  color: #222831;
  align-items: center;
  justify-content: flex-start;
  scrollbar-width: none;
}
header {
  padding: 5% 0;
}

.taskAdder {
  width: 70%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 5% 5%;
  background-color: var(--BGCcolor);
  border-radius: 6px;
}
#labelTask {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
}
#addTask {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #eeeeee;

  font-size: 1rem;
  resize: none;
  padding: 5px;
  width: 100%;
  text-align: center;
}
#addTask:focus::placeholder {
  color: transparent;
}
#addTask:focus {
  border: 2px solid var(--BGCcolor);
}
.fa-plus {
  margin-top: 15px;
  padding: 5px;
  border: 2px dashed black;
  transition: 0.4s;
}
.fa-plus:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

#progressBar {
  margin-top: 10px;
  height: 30px;
  width: 90%;
  background: lightgrey;
  border: solid black 2px;
  border-radius: 20px;
  flex-basis: 100%;
}
.bar {
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  height: 100%;
  border-radius: 20px 0 0 20px;
  transition: 0.4s ease;
}

main {
  min-height: 30svh;
  width: 70%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.task {
  display: flex;
  overflow: hidden;
  min-width: 30%;
  position: relative;
  margin: 1% 0;
  padding: 2% 2%;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 7px;
  animation: apper 0.3s ease;
}
#taskComliton {
  margin-right: 10px;
}

.fa-xmark {
  color: red;
  position: absolute;

  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: 0.4s;
}

.fa-xmark:hover {
  cursor: pointer;
  color: black;
  border-radius: 3px;
  background-color: #fd5c63;
  transform: rotate(180deg);
}
.apearAnimation {
  animation: apper 0.3s ease;
}
.disapearAnimation {
  animation: disapper 0.3s ease;
}
.removeTask {
  animation: removeTask 1.2s ease;
}
.bgc {
  position: fixed;
  background-color: grey;
  opacity: 0.7;
  width: 100%;
  height: 100svh;

  z-index: 999;
}
.popup {
  position: fixed;
  background-color: #eeeeee;
  background-color: var(--BGCcolor);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 130px;
  padding: 20px;
  border-radius: 7px;

  z-index: 999;
}

.popup h3 {
  text-align: center;
}

.popup button {
  width: 45px;
  height: 35px;
  padding: 5px 10px;
}

#acceptButton {
  position: absolute;
  top: 75%;
  left: 40%;
  transform: translate(-80%, -50%);
}
#deinedButton {
  position: absolute;
  top: 75%;
  right: 40%;
  transform: translate(80%, -50%);
}

@keyframes apper {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes disapper {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* CSS */

/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #eeeeee;
  cursor: pointer;
  display: inline-flex;
  /* font-family: CircularStd, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.visable {
  display: block;
}

.stopScroll {
  overflow-y: hidden;
}
